* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 300 12px/1.4 'Helvetica Neue', Helvetica, Arial;
}
body,html{
	min-height: 100vh;
  background: black;
}

.bm_container {
  cursor: pointer;
  width: 30vw;
  height: 30vw;
  margin: auto;
}
